<div class="row">  
    <div class="form-outline">   
        <form [formGroup]="form" #searchInfo (ngSubmit)="searchForm(searchInfo)">  
            <table>  
                <tr>  
                    <td></td><td> <input type="text" formControlName="policyTypeCode" placeholder="Enter policy Type Code" class="form-control"> </td>  
                    <td><button class="btn btn-primary "><i class="fas fa-search"></i>Search</button></td>  
                    <td><button *ngIf="loginService.isLogggedInEditor() || loginService.isLoggedInCreator()" (click)="add()" class="btn btn-info">Add Policies </button></td>
  
                </tr>  
            </table>  
        </form>  
    </div>  
  </div>  
  
  
  <div *ngIf="checkSize()">
   
  <div class="panel panel-primary">
      <div class="panel-heading ">
        <h1>Insurance List</h1>  
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Policy Type Code</th>
              <th>policyName</th>
              <th>description</th>
              <th>yearsOfPayment</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let insurance of insurances | async">
              <td>{{insurance.policyTypeCode}}</td>
              <td>{{insurance.policyName}}</td>
              <td>{{insurance.description}}</td>
              <td>{{insurance.yearsOfPayment}}</td>
              <td>{{insurance.amount}}</td>
  
  
              <td><button *ngIf="loginService.isLogggedInEditor()" (click)="deleteInsurance(insurance.id)" class="btn btn-danger">Delete</button>
                  <button  (click)="updateInsurance(insurance.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                  <button *ngIf="loginService.isLogggedInEditor() || loginService.isLoggedInCreator()|| loginService.isLoggedInUser() " (click)="insuranceDetails(insurance.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
              </td>
            </tr>
  
          </tbody>
        </table>
      </div>
    </div>
    </div>